.timeline {
  position: relative;
  max-width: 1200px;
  margin: 25px auto;
}

.time-line-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  z-index: 101;
  animation: movedown 1s linear forwards !important;
  opacity: 0;
}

@keyframes movedown {
  0% {
    transform: translateY(-30px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.time-line-container:nth-child(1) {
  animation-delay: 0s;
}

.time-line-container:nth-child(2) {
  animation-delay: 1s;
}

.time-line-container:nth-child(3) {
  animation-delay: 2s;
}

.time-line-container:nth-child(4) {
  animation-delay: 3s;
}

.time-line-container:nth-child(5) {
  animation-delay: 4s;
}

.time-line-container:nth-child(6) {
  animation-delay: 5s;
}

.time-line-container:nth-child(7) {
  animation-delay: 6s;
}

.time-line-container:nth-child(8) {
  animation-delay: 7s;
}

.text-box {
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.time-line-container .icon-box {
  position: absolute;
  width: 40px;
  right: -20px;
  top: 32px;
  z-index: 101; /* Ensure the icon-box is above the timeline line */
}

.right-container .icon-box {
  left: -20px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  left: 50%;
  top: 0;
  margin-left: -3px;
  z-index: 100; /* Ensure the timeline line is behind the icon-box */
  animation: moveline 6s linear forwards !important;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
}

.left-container-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 15px solid #fff;
  border-bottom: 15px solid transparent;
  right: 35px; /* Fixed unit and position */
  top: 28px; /* Adjusted position */
  z-index: 101; /* Ensure the arrow is above the timeline line */
}

.right-container-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 15px solid #fff;
  border-bottom: 15px solid transparent;
  left: 35px; /* Fixed unit and position */
  top: 28px; /* Adjusted position */
  z-index: 101; /* Ensure the arrow is above the timeline line */
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px;
  }

  .time-line-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 20px;
  }

  .text-box {
    font-size: 13px;
  }

  .right-container {
    left: 0;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: 65px;
  }

  .left-container .icon-box,
  .right-container .icon-box {
    left: 10px;
  }
}
